%h1=t('.title')
%p=t('.contact_us')

= form_tag submitted_contact_path, method: "post", name: "myForm" do
  =label_tag t('.name')
  %br
  =text_field_tag "name"
  %br
  =label_tag t('.email')
  %br
  =email_field_tag 'email'
  %br
  =label_tag t('.message')
  %br
  =text_area_tag 'message'
  %br
  %br
  %input.btn.btn-success{:type=>"submit",:name=>"submit",:value=>t('.submit_message')}

:javascript
  function validateForm(){
    var name = $('#name').val();
    var email = $('#email').val();
    var message = $('#message').val();
    if (name == "" || email == "" || message == ""){
      alert("All fields are required");
      
    }
    else {

    }
  }
  $("form[name='myForm']").submit(validateForm);
