.container
  .jumbotron{:style=>"background-color:#00CDAC;"}
    %h1=t('.guildfordpark')
    %p=t('.gparkdesc')
    .whatToDo
      %h2=t('.instructions')
    .leftbutton
      %button.btn Create Account
    .rightbutton
      %button.btn Sign In
