.container
  .jumbotron{:style=>"background-color:#00CDAC;"}
    %h1=t('.guildfordpark')
    %p=t('.gparkdesc')
    .whatToDo
      %h2=t('.instructions')
  .jumbotron{:style=>"background-color:#00CDAC;"}
    %ul{:style=>"list-style-type:none;"}
      %li.homeMenu
        %h1
          %a{:href=>"/", :role=>"button"}=t('.create_account')
      %li.homeMenu
        %h1
          %a{:href=>"/", :role=>"button"}=t('.sign_in')
